<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>İklim Değişikliği</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>İklim Değişiliği</h1>
      <p>İklim Değişikliğinin Etkileri Nelerdir?</p>
      <li class="list__item">
        <a href="/">
        <span>Ana Menü</span></a>
      </li>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">İşte Etkileri :</h2>
    <ul>
      <li class="baslik_text">Daha sıcak sıcaklıklar ;</li>
      <li>gazı konsantrasyonları arttıkça, küresel yüzey sıcaklığı da artar. Son on yıl, 2011-2020, kayıtlardaki en sıcak on yıldır. 1980'lerden bu yana, her on yıl bir öncekinden daha sıcak olmuştur. Neredeyse tüm kara alanları daha sıcak günler ve sıcak hava dalgaları görmektedir. Daha yüksek sıcaklıklar, ısıyla ilgili hastalıkları artırır ve açık havada çalışmayı daha zor hale getirir. Orman yangınları, koşullar daha sıcak olduğunda daha kolay başlar ve daha hızlı yayılır. Arktik'teki sıcaklıklar, küresel ortalamanın en az iki katı kadar hızlı ısınmıştır.</li>
      <li class="baslik_text">Daha şiddetli fırtınalar ;</li>
      <li>Yıkıcı fırtınalar birçok bölgede daha yoğun ve daha sık hale geldi. Sıcaklıklar arttıkça daha fazla nem buharlaşıyor, bu da aşırı yağış ve su baskınlarını şiddetlendirerek daha yıkıcı fırtınalara neden oluyor. Tropikal fırtınaların sıklığı ve kapsamı da ısınan okyanustan etkileniyor. Siklonlar, kasırgalar ve tayfunlar okyanus yüzeyindeki ılık sularla beslenir. Bu tür fırtınalar genellikle evleri ve toplulukları yok ederek ölümlere ve büyük ekonomik kayıplara neden olur.</li>
      <li class="baslik_text">Artan kuraklık ;</li>
      <li>İklim değişikliği, suyun bulunabilirliğini değiştirerek daha fazla bölgede daha kıt hale getiriyor. Küresel ısınma, zaten su sıkıntısı çeken bölgelerdeki su kıtlığını daha da kötüleştiriyor ve tarımsal kuraklıkların mahsulleri etkilemesi riskinin artmasına ve ekolojik kuraklıkların ekosistemlerin kırılganlığını artırmasına yol açıyor. Kuraklıklar ayrıca milyarlarca ton kumu kıtalar arasında hareket ettirebilen yıkıcı kum ve toz fırtınalarına da neden olabilir. Çöller genişliyor ve yiyecek yetiştirmek için arazi azalıyor. Birçok insan artık düzenli olarak yeterli suya sahip olmama tehdidiyle karşı karşıya.</li>
      <li class="baslik_text">Isınan, yükselen bir okyanus ;</li>
      <li>Okyanus küresel ısınmadan kaynaklanan ısının çoğunu emer. Okyanusun ısınma hızı son yirmi yılda okyanusun tüm derinliklerinde güçlü bir şekilde arttı. Okyanus ısındıkça, su ısındıkça genişlediğinden hacmi de artar. Eriyen buz tabakaları ayrıca deniz seviyelerinin yükselmesine neden olarak kıyı ve ada topluluklarını tehdit eder. Ayrıca okyanus karbondioksiti emerek atmosferden uzak tutar. Ancak daha fazla karbondioksit okyanusu daha asidik hale getirir ve bu da deniz yaşamını ve mercan resiflerini tehlikeye atar.</li>
      <li class="baslik_text">Tür kaybı ;</li>
      <li>İklim değişikliği, karada ve okyanusta türlerin hayatta kalması için riskler oluşturuyor. Sıcaklıklar arttıkça bu riskler de artıyor. İklim değişikliğiyle daha da kötüleşen dünya, kayıtlı insanlık tarihindeki herhangi bir zamandan 1.000 kat daha fazla tür kaybediyor. Önümüzdeki birkaç on yıl içinde bir milyon tür yok olma riskiyle karşı karşıya. Orman yangınları, aşırı hava koşulları ve istilacı zararlılar ve hastalıklar, iklim değişikliğiyle ilgili birçok tehdit arasında yer alıyor. Bazı türler yer değiştirip hayatta kalabilecek, ancak diğerleri bunu başaramayacak.</li>
      <li class="baslik_text">Yeterli yiyecek yok ;</li>
      <li>İklimdeki değişiklikler ve aşırı hava olaylarındaki artışlar, küresel açlık ve yetersiz beslenmenin arkasındaki nedenler arasındadır. Balıkçılık, ekinler ve hayvancılık yok olabilir veya daha az üretken hale gelebilir. Okyanus daha asidik hale geldikçe, milyarlarca insanı besleyen deniz kaynakları risk altındadır. Birçok Arktik bölgesindeki kar ve buz örtüsündeki değişiklikler, hayvancılık, avcılık ve balıkçılıktan kaynaklanan gıda tedariklerini bozmuştur. Isı stresi, otlatma için suyu ve otlakları azaltabilir, ürün veriminin düşmesine ve hayvancılığın etkilenmesine neden olabilir.</li>
      <li class="baslik_text">Daha fazla sağlık riski ;</li>
      <li>İklim değişikliği insanlığın karşı karşıya olduğu en büyük sağlık tehdididir. İklim etkileri hava kirliliği, hastalık, aşırı hava olayları, zorla yerinden edilme, ruh sağlığı üzerindeki baskılar ve insanların yeterli yiyecek yetiştiremediği veya bulamadığı yerlerde artan açlık ve yetersiz beslenme yoluyla sağlığa zarar veriyor. Her yıl, çevresel faktörler yaklaşık 13 milyon insanın hayatını alıyor. Değişen hava kalıpları hastalıkları yaygınlaştırıyor ve aşırı hava olayları ölümleri artırıyor ve sağlık bakım sistemlerinin ayak uydurmasını zorlaştırıyor.</li>
      <li class="baslik_text">Yoksulluk ve yerinden edilme ;</li>
      <li>İklim değişikliği insanları yoksulluğa sürükleyen ve yoksulluğu sürdüren faktörleri artırır. Sel baskınları kentsel gecekondu mahallelerini süpürebilir, evleri ve geçim kaynaklarını yok edebilir. Sıcaklık, açık hava işlerinde çalışmayı zorlaştırabilir. Su kıtlığı mahsulleri etkileyebilir. Geçtiğimiz on yılda (2010-2019), hava olaylarından kaynaklanan olaylar her yıl ortalama 23,1 milyon insanı yerinden etti ve çok daha fazlasını yoksulluğa karşı savunmasız bıraktı. Mültecilerin çoğu, iklim değişikliğinin etkilerine uyum sağlamaya en savunmasız ve en az hazır ülkelerden geliyor.</li>
    </ul>
    <li class="list__item">
      <a href="/">
      <span>Ana Menü</span></a>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
