<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>İklim Değişikliği</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>İklim Değişiliği</h1>
      <p>İklim Değişikliğinin Nedenleri Nelerdir?</p>

    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">İşte Nedenleri :</h2>
    <ul>
      <li class="baslik_text">Güç üretmek ;</li>
      <li>Fosil yakıtları yakarak elektrik ve ısı üretmek küresel emisyonların büyük bir kısmına neden olur. Elektriğin çoğu hala kömür, petrol veya gaz yakılarak üretilir ve bu da karbondioksit ve azot oksit üretir - Dünya'yı örten ve güneşin ısısını hapseden güçlü sera gazları. Küresel olarak, elektriğin dörtte birinden biraz fazlası rüzgar, güneş ve diğer yenilenebilir kaynaklardan gelir ve bunlar fosil yakıtların aksine havaya çok az sera gazı veya kirletici yayar veya hiç yaymaz.</li>
      <li class="baslik_text">Üretim malları ;</li>
      <li>Üretim ve endüstri, çoğunlukla çimento, demir, çelik, elektronik, plastik, giysi ve diğer mallar gibi şeyler yapmak için enerji üretmek amacıyla fosil yakıtların yakılmasından kaynaklanan emisyonlar üretir. Madencilik ve diğer endüstriyel süreçler de inşaat endüstrisi gibi gazlar yayar. Üretim sürecinde kullanılan makineler genellikle kömür, petrol veya gazla çalışır; ve plastikler gibi bazı malzemeler fosil yakıtlardan elde edilen kimyasallardan yapılır. Üretim endüstrisi, dünya çapında sera gazı emisyonlarına en çok katkıda bulunanlardan biridir.</li>
      <li class="baslik_text">Ormanların kesilmesi ;</li>
      <li>Çiftlikler veya meralar oluşturmak için veya başka nedenlerle ormanları kesmek, ağaçlar kesildiklerinde depoladıkları karbonu serbest bıraktığı için emisyonlara neden olur. Her yıl yaklaşık 12 milyon hektar orman yok edilir. Ormanlar karbondioksiti emdiği için, onları yok etmek doğanın atmosfere emisyonları uzak tutma yeteneğini de sınırlar. Ormansızlaşma, tarım ve diğer arazi kullanım değişiklikleriyle birlikte küresel sera gazı emisyonlarının yaklaşık dörtte birinden sorumludur.</li>
      <li class="baslik_text">Taşımacılığın kullanımı ;</li>
      <li>Çoğu araba, kamyon, gemi ve uçak fosil yakıtlarla çalışır. Bu, ulaşımı sera gazlarının, özellikle karbondioksit emisyonlarının önemli bir katkıda bulunanı yapar. Petrol bazlı ürünlerin, benzin gibi, içten yanmalı motorlarda yanması nedeniyle, kara taşıtları en büyük kısmı oluşturur. Ancak gemilerden ve uçaklardan kaynaklanan emisyonlar büyümeye devam ediyor. Ulaşım, küresel enerjiyle ilgili karbondioksit emisyonlarının yaklaşık dörtte birini oluşturur. Ve eğilimler, önümüzdeki yıllarda ulaşım için enerji kullanımında önemli bir artışa işaret ediyor.</li>
      <li class="baslik_text">Gıda üretmek ;</li>
      <li>Gıda üretimi, ormansızlaşma ve tarım ve otlatma için arazi temizleme, inekler ve koyunlar tarafından sindirim, ürün yetiştirmek için gübre ve hayvan gübresi üretimi ve kullanımı ve genellikle fosil yakıtlarla çiftlik ekipmanlarını veya balıkçı teknelerini çalıştırmak için enerji kullanımı dahil olmak üzere çeşitli yollarla karbondioksit, metan ve diğer sera gazlarının emisyonlarına neden olur. Tüm bunlar gıda üretimini iklim değişikliğine büyük katkıda bulunan bir faktör haline getirir. Ve sera gazı emisyonları ayrıca gıdanın paketlenmesinden ve dağıtılmasından da kaynaklanır.</li>
      <li class="baslik_text">Binalara güç sağlamak ;</li>
      <li>Küresel olarak, konut ve ticari binalar tüm elektriğin yarısından fazlasını tüketiyor. Isıtma ve soğutma için kömür, petrol ve doğal gaz kullanmaya devam ettikçe önemli miktarda sera gazı emisyonu yayıyorlar. Artan klima sahipliğiyle birlikte ısıtma ve soğutma için artan enerji talebi ve aydınlatma, cihazlar ve bağlı cihazlar için artan elektrik tüketimi, son yıllarda binalardan kaynaklanan enerjiyle ilgili karbondioksit emisyonlarının artmasına katkıda bulundu.</li>
      <li class="baslik_text">Çok fazla tüketmek ;</li>
      <li>Eviniz ve güç kullanımınız, nasıl hareket ettiğiniz, ne yediğiniz ve ne kadarını attığınız hepsi sera gazı emisyonlarına katkıda bulunur. Giyim, elektronik ve plastik gibi malların tüketimi de öyle. Küresel sera gazı emisyonlarının büyük bir kısmı özel hanelerle bağlantılıdır. Yaşam tarzlarımızın gezegenimiz üzerinde derin bir etkisi vardır. En büyük sorumluluk en zenginlere aittir: küresel nüfusun en zengin %1'i, en fakir %50'den daha fazla sera gazı emisyonuna neden olur.</li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>